#
# Configuration for max os x
#

# Language choice
language:
  - objective-c # for switch to mac os x
  - cpp
compiler:
- clang
- gcc

before_install:
- brew update
- brew tap Homebrew/homebrew-versions
- brew update

# Depency install
install:
  # update gcc and clang
  #- brew install gcc48
  #- brew install llvm --with-clang --with-asan 
  # lib install
- brew install sfml

after_install:
- clang --version
- gcc --version
#- if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi

  # Build
script : mkdir build && cd build/ && cmake ../src/ && make
# Choose branchs
branches:
  - masterMacOsX
# - master
# - develop

# configuration of notifications
notifications:
  email:
    recipients :
    - mouton.guillaume88@gmail.com
    on_success: change
    on_failure: always
